{% extends "base.html" %}
{% block content %}
    <!-- Load in the CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    
    <!-- Container for the map and for the side bar-->
    <div id="container">

        <!-- Creates sidebar -->
        <div id="sideBar">

            <!-- user input section -->
            <form action="">
                <!-- error message -->
                <strong id="errorMessage">Error: Invalid input</strong>
                
                <!-- starting location input -->
                <p class="label">Please enter your starting location: </p>
                <input type="text" id="departing" name="departingStation" placeholder="Enter a starting location..." value = ""><br>
                
                <!-- destination input -->
                <p class="label">Please enter your destination: </p>
                <input type="text" id="destination" name="destinationStation" placeholder="Enter your destination..." value = ""><br>
                
                <!-- date time input -->
                <p class="label">Please input the day and hour you wish to travel: </p>
                <select id="daySelect"></select>
                <select id="hourSelect"></select>
                
                <!-- plan your journey button -->
                <input type="button" value="Plan Your Journey" onclick="userInputValidation()">
            </form>           
        </div>

        <!-- container for the departure popups -->
        <div class="popup" id="departurepopup">
            <div class="overlay"></div>
            <div class="content">
                <!-- container for close button -->
                <div class="close-btn" onclick="hidePopup()">&times;</div>
                
                <h1 id="popupHeader">Recommended Bike Stations:</h1>
                <!-- container for the loading screen -->
                <div id="loader"></div>
                
                <!-- container for station recommendations -->
                <div id="stationRecommendations" style="display:none;"></div>
            </div>
        </div>

        <!-- container for both buttons displayed over google maps -->
        <div id="mapButtons">
            <button id="planYourJourney" onclick="getPanel()">Plan Your Journey</button>
            <button id="displayMarkers" onclick="toggleDisplayMarkers()">Hide Stations</button>
        </div>

        <!-- container for the map -->
        <div id="map"></div>    
        
    </div>

    <!-- Adding the clustering library to the page -->
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>

    <!-- JS code to create map and display station information -->
    <script src="{{ url_for('static', filename='mapCode.js') }}"></script>
    <script>populateDaySelectOptions()</script>
    <script>populateHourSelectOptions()</script>
    <script>displayWeather()</script>

    <!-- Connect to the google maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_API_KEY }}&libraries=places&callback=initMap"></script>
{% endblock %}