{% extends "base.html" %}
{% block content %}
    <!-- Load in the CSS -->
    <link href="{{ url_for('static', filename='mapStyle.css') }}" rel="stylesheet">
    
    <!-- Container for the map and for the side bar-->
    <div id="container">
        <div id="sideBar">
            <form action="">
                <label for="departing">Departing From: </label><br>
                <input type="text" id="departing" name="departingStation" value =""><br>
                <label for="destination">Destination: </label><br>
                <input type="text" id="destination" name="destinationStation" value=""><br>
                <input type="time" name="eta" value=""><br>
                <input type="button" value="Plan Your Journey" onclick="showPopup()">
            </form>           
        </div>
        <!-- container for the departure popups -->
        <div class="popup" id="departurepopup">
            <div class="overlay"></div>
            <div class="content">
                <div class="close-btn" onclick="showPopup()">&times;</div>
                <h1>Choose a station for departure</h1>
                <p id="departureText"></p>
            </div>
        </div>
        <div id="map"></div>    
    </div>

    <!-- Adding the clustering library to the page -->
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>

    <!-- JS code to create map and display station information -->
    <script src="{{ url_for('static', filename='mapCode.js') }}"></script>

    <!-- Connect to the google maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_API_KEY }}&callback=initMap"></script>
{% endblock %}