{% extends "base.html" %}
{% block content %}

    <!-- Main content -->
    <div class="container">
        <h1 id="station_title"></h1>
        <ul id="station_info"></ul>
    </div>

    <input type="radio" id="Monday" name="Monday" value="Monday" onclick="displayBikeAvailabilityChart(value)"><label for="Monday">Monday</label>
    <input type="radio" id="Tuesday" name="Tuesday" value="Tuesday" onclick="displayBikeAvailabilityChart(value)"><label for="Tuesday">Tuesday</label>
    <input type="radio" id="Wednesday" name="Wednesday" value="Wednesday" onclick="displayBikeAvailabilityChart(value)"><label for="Wednesday">Wednesday</label>
    <input type="radio" id="Thursday" name="Thursday" value="Thursday" onclick="displayBikeAvailabilityChart(value)"><label for="Thursday">Thursday</label>
    <input type="radio" id="Friday" name="Friday" value="Friday" onclick="displayBikeAvailabilityChart(value)"><label for="Friday">Friday</label>
    <input type="radio" id="Saturday" name="Saturday" value="Saturday" onclick="displayBikeAvailabilityChart(value)"><label for="Saturday">Saturday</label>
    <input type="radio" id="Sunday" name="Sunday" value="Sunday" onclick="displayBikeAvailabilityChart(value)"><label for="Sunday">Sunday</label>
    <div id="chartDiv"></div>

    <!-- Script for outputting station information -->
    <script>
        var station_id = '{{ station_id }}';
    </script>
    <script src="{{ url_for('static', filename='stationInfoCode.js') }}"></script>
    <script>displayStationInfo()</script>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
    
    </script>

    <!-- Code to create the charts -->
    <script>
        var now = new Date();
        var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
        var today = days[now.getDay()];
        console.log(today);
        displayBikeAvailabilityChart(today);
    </script>
{% endblock %}