{% extends "base.html" %}
{% block content %}

    <!-- Main content -->
    <div class="container">
        <h1 id="station_title"></h1>
        <ul id="station_info"></ul>
    </div>

    
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="Monday_Bikes" name="Radio_Bikes" value="Monday" onclick="displayBikeAvailabilityChart(value)"><label class="form-check-label" for="Monday_Bikes">Monday</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="Tuesday_Bikes" name="Radio_Bikes" value="Tuesday" onclick="displayBikeAvailabilityChart(value)"><label class="form-check-label" for="Tuesday_Bikes">Tuesday</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="Wednesday_Bikes" name="Radio_Bikes" value="Wednesday" onclick="displayBikeAvailabilityChart(value)"><label class="form-check-label" for="Wednesday_Bikes">Wednesday</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="Thursday_Bikes" name="Radio_Bikes" value="Thursday" onclick="displayBikeAvailabilityChart(value)"><label class="form-check-label" for="Thursday_Bikes">Thursday</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="Friday_Bikes" name="Radio_Bikes" value="Friday" onclick="displayBikeAvailabilityChart(value)"><label class="form-check-label" for="Friday_Bikes">Friday</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="Saturday_Bikes" name="Radio_Bikes" value="Saturday" onclick="displayBikeAvailabilityChart(value)"><label class="form-check-label" for="Saturday_Bikes">Saturday</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="Sunday_Bikes" name="Radio_Bikes" value="Sunday" onclick="displayBikeAvailabilityChart(value)"><label class="form-check-label" for="Sunday_Bikes">Sunday</label>
    </div>
    <div id="chartDiv"></div>

    <!-- Script for outputting station information -->
    <script>
        var station_id = '{{ station_id }}';
    </script>
    <script src="{{ url_for('static', filename='stationInfoCode.js') }}"></script>
    <script>displayStationInfo()</script>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
    
    </script>

    <!-- Code to create the charts -->
    <script>
        var now = new Date();
        var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
        var today = days[now.getDay()];
        console.log(today);
        displayBikeAvailabilityChart(today);
    </script>
{% endblock %}