<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stations</title>
</head>
<body>
    <!-- Navigation bar reference: https://www.youtube.com/watch?v=23bpce-5s8I -->
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a href="/" class="navbar-brand" style="font-size: 35px; padding-left: 10px;">Dublin Bikes</a>
        <button class="navbar-toggler me-3" type="button" 
        data-bs-toggle="collapse" data-bs-target="#navbarMenu" 
        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav text-center ms-auto me-5">
                <li class="nav-item"><a href="/" class="nav-link">Plan Your Journey</a></li>
                <li class="nav-item"><a href="stations.html" class="nav-link">View Stations</a></li>
            </ul>
        </div>
    </nav>

</body>
</html>